@model IEnumerable<Capa_Entidad.Proc_listarCita_Result>

@{
    ViewBag.Title = "Citas";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/assets/css/docs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body class="p-0 m-0 border-0 bd-example">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #121212;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: calc(10px + 2vmin);">Veterinaria Manatí</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                @if (User.Identity.IsAuthenticated)
                {

                    if (Session["Rol"].ToString() == "1" && Session["Rol"].ToString() != null)
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Home/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Usuarios">Usuarios</a>
                            </li>
                        </ul>
                    }
                    else if (Session["Rol"].ToString() == "2" && Session["Rol"].ToString() != null)
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Home/">Home</a>
                            </li>
                        </ul>
                    }

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Perfil">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Logout">Cerrar Sesión</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Home/">Home</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Create">Registrarse</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        <br />
        <h2>Citas</h2>

        <a href="Create" class="btn btn-primary" style="margin-bottom: 10px;">Create</a>
        <div class="row">
            <div class="table-responsive" id="table"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
</body>
</html>

<script>

    $(document).ready(function () {
        listarCita();
    });

    function listarCita() {

        $.ajax({
            type: "GET",
            url: "/Cita/listarCita",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            cache: false,

            success: function (data) {

                let items = "";

                items += "<table id='example' class='table table-striped' style='width:100%'>";
                items += "<thead>";
                items += "<tr>";
                items += "<th>Id</th>";
                items += "<th>Usuario</th>";
                items += "<th>Mascota</th>";
                items += "<th>Veterinario</th>";
                items += "<th>Servicio</th>";
                items += "<th>Fecha C</th>";
                items += "<th>Fecha Cr</th>";
                items += "<th>Fecha Modi</th>";
                items += "<th>Terminada</th>";
                items += "<th>Editar</th>";
                items += "<th>Eliminar</th>";
                items += "</tr>";
                items += "</thead>";
                items += "</tbody>";

                for (let i = 0; i < data.length; i++) {
                    const cita = data[i];

                    items += "<tr>";
                    items += "<td>" + cita.id_Cita + "</td>";
                    items += "<td>" + cita.id_Usuario + "</td>";
                    items += "<td>" + cita.id_Mascota + "</td>";
                    items += "<td>" + cita.id_UsuarioVeterinario + "</td>";
                    items += "<td>" + cita.servicio + "</td>";
                    items += "<td>" + cita.fecha_Cita + "</td>";
                    items += "<td>" + cita.fecha_Creacion + "</td>";
                    items += "<td>" + cita.fecha_Modificacion + "</td>";
                    items += "<td>" + cita.comprobar_Cita + "</td>";
                    items += "<td><a href='Edit?id=" + cita.id_Cita + "' class='btn btn-warning'>Editar</a></td>";
                    items += "<td><a href='Delete?id=" + cita.id_Cita + "' class='btn btn-danger'>Eliminar</a></td>";
                    items += "</tr>";
                }

                items += "</tbody>";  
                items += "</table>";

                $("#table").append(items);

                $('#example').DataTable({
                    select: true
                });

            },

            error: function (error) {
                alert("Ha ocurrido un error: " + error);
            }
        });

    }

</script>