@model IEnumerable<Capa_Entidad.Proc_listarConsejo_Result>

@{
    ViewBag.Title = "Consejos";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
</head>
<body class="p-0 m-0 border-0 bd-example">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #121212;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="font-size: calc(10px + 2vmin);">Veterinaria Manatí</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                @if (User.Identity.IsAuthenticated)
                {

                    if (Session["Rol"].ToString() == "1" && Session["Rol"].ToString() != null)
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Home/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Usuarios">Usuarios</a>
                            </li>
                        </ul>
                    }
                    else if (Session["Rol"].ToString() == "2" && Session["Rol"].ToString() != null)
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Home/">Home</a>
                            </li>
                        </ul>
                    }

                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Perfil">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Logout">Cerrar Sesión</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Home/">Home</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Login">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: calc(5px + 2vmin);" href="/Account/Create">Registrarse</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-md-12">
            <br />
            <h2>Consejos</h2>

            <a href="Create" class="btn btn-primary" style="margin-bottom: 10px;">Create</a>

            <div class="table-responsive" id="table"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
</body>
</html>

<script>

    $(document).ready(function () {
        listarConsejo();
    });

    function listarConsejo() {

        $.ajax({
            type: "GET",
            url: "/Consejo/listarConsejo",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            cache: false,

            success: function (data) {

                let items = "";

                items += "<table class='table table-bordered table-hover'>";
                items += "<thead class='table-dark'>";
                items += "<tr>";
                items += "<th>Id consejo</th>";
                items += "<th>Id tipo</th>";
                items += "<th>Id raza</th>";
                items += "<th>Descripción</th>";
                items += "<th>Editar</th>";
                items += "<th>Eliminar</th>";
                items += "</tr>";
                items += "</thead>";
                items += "<tbody>";

                for (let i = 0; i < data.length; i++) {
                    const consejo = data[i];

                    items += "<tr>";
                    items += "<td>" + consejo.id_Consejo + "</td>";
                    items += "<td>" + consejo.id_Tipo + "</td>";
                    items += "<td>" + consejo.id_Raza + "</td>";
                    items += "<td>" + consejo.descripcion + "</td>";
                    items += "<td><a href='Edit?id=" + consejo.id_Consejo + "' class='btn btn-warning'>Editar</a></td>";
                    items += "<td><a href='Delete?id=" + consejo.id_Consejo + "' class='btn btn-danger'>Eliminar</a></td>";
                    items += "</tr>";
                }

                items += "</tbody>";
                items += "</table>";

                $("#table").append(items);
            },

            error: function (error) {
                alert("Ha ocurrido un error: " + error);
            }
        });

    }

</script>